<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.staticImages = {
    splashBackground: "<%= asset_path('splash_background.png')%>",
    sessionBackground: "<%'session_background'%>"
  }
</script>

<main id="root"></main>
