// Place all the styles related to the API::Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-medias-container {
  padding-top: 10%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-content: space-between;

}

.genre-page-title {
  width: 90%;
  // border: 1px solid yellow;
  margin: auto;
  padding: 15px 0;
  font-size: 25px;
}

//MEDIA ROW FOR GENRE
.genre-medias-row{
  margin: auto;
  border: 1px solid red;
  height: 20vh;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  flex-grow: 100;
}

.genre-medias-row .media-item {
  position: relative;
  height: 100%;
  border: 1px solid green;
  float: left;
}

.genre-media-modal {
  width: 100%;
  border: 1px solid yellow;
}
