.library-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

// HEADER VIDEO
.header-wrapper {
  height: 60vh;
  width: 100%;
  display: block;
  margin-bottom: 3em;
  display: flex;
  overflow: hidden;
  position: relative;
}

.header-video {
  justify-content: center;
  margin-top: -50px;
  width: 120%;
  height: auto;
  padding: 0;
  margin: 0;
  position: absolute;
}


// GENRE ROW
.genre-row {
  width: 100%;
  height: auto;
  align-self: center;
}

.genre-row-title {
  width: 90%;
  // border: 1px solid lightblue;
  padding: 20px 0;
  font-size: 20px;
  margin-left: 45px;
}

// CAROUSEL
.medias-row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.carousel {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
}

.media-items {
  height: 100%;
  position: relative;
  flex-grow: 100;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.media-item {
  position: relative;
  height: 100%;
  width: 23%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media-carousel-img {
  // width: 100%;
  height: 100%;
  flex-grow: 100;
  position: absolute;
}

.play-button {
  background-image: image-url('play_icon.png');
  background-repeat: none;
  background-position: center;
  background-size: contain;
  height: 60px;
  width: 60px;
  z-index: 500;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 50%;
  align-self: center;
  border: 5px solid white;
  cursor: pointer;
}

.play-button:hover {
  background-color: red;
}


.media-details-button {
  position: absolute;
  // width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  align-self: center;
  transform: rotate(45deg)
}

.media-details-button:hover {
  color: red;
  cursor: pointer;
}

// CAROUSEL ARROW BUTTONS
.left-arrow-btn, .right-arrow-btn {
  height: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow-code {
  font-size: 4em;
  padding: 0 10px;
  margin: 0;
  width: auto;
  cursor: pointer;
  align-self: center;
}
