.library-container {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-self: center;
}

// HEADER VIDEO
.header-wrapper {
  height: 60vh;
  width: 100%;
  display: block;
  margin-bottom: 3em;
  border: 1px solid green;
  display: flex;
  overflow: hidden;
  position: relative;
}

.header-video {
  justify-content: center;
  margin-top: -50px;
  width: 120%;
  height: auto;
  padding: 0;
  margin: 0;
  position: absolute;
}


// GENRE ROW
.genre-row {
  width: 95%;
  height: auto;
  border: 1px solid green;
  align-self: center;
}

.genre-row-title {
  width: 100%;
  // border: 1px solid lightblue;
  padding: 20px 0;
  font-size: 20px;
}

// CAROUSEL
.medias-row {
  height: 150px;
  border: solid 1px yellow;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  // justify-content:space-between;
  align-items: center;
  justify-content: flex-start;
  // flex-wrap: wrap;
}

.carousel {
  height: 100%;
  position: relative;
  // width: 70%;
  flex-grow: 100;
  // border: 2px solid lightblue;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.media-item {
  height: 100%;
  width: 23%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: 1px solid purple;
}

.media-carousel-img {
  height: 100%;
  width: auto;
  // width: 20%;
}

// VIDEO NAVIGATION SLIDE ANIMATIONS
.slideleft {
  position: absolute;
  // height: 100%;
  // width: 23%;
  animation-duration: 3s;
  animation-name: slide;
  animation-iteration-count: 1;
  // // left: 0;
  // // transform: translateX(-100%);
  // // -webkit-transform: translateX(100%);
  // transform: translate3translate3d(-100%, 0, 0);
  display: none;
}

.slideright {
  position: absolute;
  animation-duration: 3s;
  animation-name: slide2;
  animation-iteration-count: 1;
  display: none;
}

@keyframes slide {
  0% {
    transform: translate3translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3translate3d(-100%, 0, 0);
  }
}


@keyframes slide2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
// CAROUSEL ARROW BUTTONS
.left-arrow-btn, .right-arrow-btn {
  height: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  justify-content: center;
}

.arrow-code {
  font-size: 4em;
  padding: 0 10px;
  margin: 0;
  border: 1px solid blue;
  width: auto;
  cursor: pointer;
  align-self: center;
}
