@import 'api/colors.scss';

.nav-bar-wrapper {
  top: 0;
  height: 8%;
  z-index: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid white;
  position: fixed;
}

.logo {
  color: $logo-red;
  font-size: 3em;
  font-weight: 700;
  padding: 0 40px;
  align-self: center;

}

.home-sign-in-button {
  font-size: 14px;
  font-weight: 200;
  background-color: $logo-red;
  margin-right: 40px;
  padding: 10px 20px;
  border-radius: 5px;
}

// PROFILE LEFT AND RIGHT
.navbar-logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid blue;
}

.navbar-options {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  flex-grow: 100;
}

.profile-options-menu {
  height: 100%;
  position: relative;
  // border: 1px solid yellow;
}

.avatar-button {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 60px;
  align-items: center;
  cursor: pointer;
  border: 1px solid green;
}

.current-avatar-img {
  height: 65%;
  width: auto;
}

.triangle-arrow {
  color: white;
  font-size: 25px;
  align-self: center;
  padding: 0 10px;
}

//PROFILE DROPDOWN MENU
.profiles-dropdown-menu {
  border: 1px solid white;
  background-color: black;
  visibility: hidden;
  position: absolute;
  margin-right: 40px;
  text-align: center;
  font-weight: lighter;
}

.profile-nav-options {
  width: auto;
  // padding: 10px;
  // height: 100px;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
}

.profile-nav-options-avatar {
  width: 25%;
  margin-right: 10px;
}

.logout-button {
  padding: 10px 0;
}
//BROWSE MENU

.browse-menu {
  height: 100%;
  position: relative;
  border: 1px solid yellow;
}
.browse-menu-btn {
  height: 100%;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid purple;
}

.browse-menu-btn:hover {
  color: red;
}

.browse-menu-options {
  position: absolute;
  border: 1px solid lightblue;
  background-color: black;
  padding: 20px 40px;
  font-weight: 100;
}

.genres-title {
  font-size: 20px;
}
.genre-option-link {
  padding: 15px 0;
}
