@import 'api/colors.scss';

.nav-bar-wrapper {
  top: 0;
  height: 8%;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 1%, rgba(0,0,0,0.2) 88%, rgba(83,83,83,0.1) 99%, rgba(91,91,91,0.1) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.2) 88%,rgba(83,83,83,0.1) 99%,rgba(91,91,91,0.1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.2) 88%,rgba(83,83,83,0.1) 99%,rgba(91,91,91,0.1) 100%);

}

.logo {
  color: $logo-red;
  font-size: 3em;
  font-weight: 700;
  padding-left: 40px;
  align-self: center;
  // border: 1px solid blue;
}

.home-sign-in-button {
  font-size: 14px;
  font-weight: 200;
  background-color: $logo-red;
  margin-right: 40px;
  padding: 10px 20px;
  border-radius: 5px;
}

// PROFILE LEFT AND RIGHT
.navbar-logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-options {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid yellow;
}

.profile-options-menu {
  height: 100%;
  position: relative;
}

.avatar-button {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 60px;
  align-items: center;
  cursor: pointer;
}

.current-avatar-img {
  height: 65%;
  width: auto;
}

.triangle-arrow {
  color: white;
  font-size: 25px;
  align-self: center;
  padding: 0 10px;
}

//PROFILE DROPDOWN MENU
.profiles-dropdown-menu {
  border: 1px solid gray;
  background-color: black;
  visibility: hidden;
  position: absolute;
  margin-right: 40px;
  text-align: center;
  font-weight: lighter;
}

.profile-nav-options {
  width: auto;
  // padding: 10px;
  // height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
  font-size: 12px;
}

.profile-nav-options-avatar {
  width: 25%;
  margin-right: 10px;
}

.logout-button {
  border-top: 1px solid gray;
  padding-bottom: 10px;
}
//BROWSE MENU
.browse-menu {
  height: 100%;
}

.browse-menu-btn {
  height: 100%;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid purple;
}

.browse-menu-btn:hover {
  color: red;
}

.browse-menu-options {
  visibility: hidden;
  position: absolute;
  background-color: black;
  padding: 20px 40px;
  font-weight: 100;
}

.genres-title {
  font-size: 20px;
}
.genre-option-link {
  padding: 3px 0;
}

.genre-option-link:hover {
  border-bottom: 3px solid red;
}
