.video-container {
  width: 100%;
  height: 100vh;
  border: 1px solid green;
  position: relative;
}

.video-player {
  border: 1px solid yellow;
}

.back-to-profile-btn-container {
  border: 5px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 30px;
  cursor: pointer;
  z-index: 100;
}

.back-to-profile-btn-container:hover {
  background-color: red;
  cursor: pointer;
}

.profile-arrow-btn {
  padding: 0;
  margin: 0;
  transform: rotate(180deg);
  font-size: 30px;
}
